/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fade-in-out {
    animation: fadeInOut 2s linear infinite;
  }

  .hidden {
    visibility: hidden;
  }

  @keyframes fadeInOut {
    0%, 100% {opacity: 0; visibility: visible;}
    50% {opacity: 1; visibility: visible;}
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: rgb(255, 237, 232);
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
}
